.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

/* MEDIAQUERY SCREEN */

@media screen and (max-width: 420px){

  /* ELEMENTI PIù GRANDI DEL BODY ADATTATI e RESET */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    font-size: 16px;
    line-height: 20px;
    scroll-behavior: smooth;
  }

  .container{
    width: 90%;
    margin: auto;
  }

  .row{
    width: 100%;
    margin: 0;
    margin-bottom: 50px;
  }
  /* Font */
  h1{
    font-size: 30px;
    padding: 10px 0;
    margin-bottom: 20px;
    border: 3px solid #c3cfd9;
  }

  h3{
    font-size: 22px;
    padding: 5px 0;
    margin-bottom: 15px;
    background-color: #c3cfd9;
  }

/* img misure prova */
  img{
    height: 150px;
    max-width: 100%;
    margin-bottom: 15px;
  }
  /* /ELEMENTI PIù GRANDI DEL BODY ADATTATI e RESET */

  /* STILE LAYOUT */
  /* SEZIONE 1 Id LEZIONI */
  .container#lezioni{
    background-color: #f9f9f9;
    margin-top: 40px;
  }

  #lezioni .left, #lezioni .right{
    width: 50%;
    padding: 0 10px;
    padding-bottom: 20px;
    float: left;
  }

  #lezioni img{
    height: 100px;
    max-width: 100%;
  }
  /* /SEZIONE 1 Id LEZIONI */

  /* SEZIONE 2 Id STEPS */
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    float: left;
    min-width: 100%;
    background-color: #c3cfd9;
    padding-bottom: 20px;
  }

  #steps .row>.left,
  #steps .row>.central{
    margin-bottom:40px;
  }

  #steps img{
    height: 165px ;
    max-width: 100%;
    margin-top: 20px;
    border: 2px white solid;
    padding: 15px;
  }
  /* /SEZIONE 2 Id STEPS */

  /* SEZIONE 3 Id WHY*/
  #why .row>.second,
  #why .row>.first,
  #why .row>.third{
    margin: 0;
  }

  #why .row img {
    background-color: #c3cfd9;
    border-radius: 0%;
    border: 2px white;
    border-style: solid;
  }

  hr{
    width: 90%;
    margin: 20px auto;
    border: 1px solid lightgrey;
  }
  /* /SEZIONE 3 Id WHY*/

  /* /STILE LAYOUT */
}
